h1 {
    text-align: center;
    font-family: "Kumbh Sans", sans-serif;
    font-size: 60px;
}

body {
    background-color: #eeeeee;
}

  * {
    box-sizing: border-box;
  }
  
  body {
    font-family: "DM Sans", sans-serif;
    background-color: #eeeeee;
    margin: 0;
    padding: 0;
  }
  
  header h1 {
    font-family: "Kumbh Sans", sans-serif;
    font-size: 5em;
    background-color: #000000;
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    text-align: center;
    font-weight: bolder;
  }

h2 {
    text-align: center;
    font-size: 40px;
  }

.main1 p {
    text-align: center;
    font-size: 25px;
    padding-left: 40px;
    padding-right: 40px;
}

.about-button button {
  background-color: #000000;
  background-image: linear-gradient(to top, #0f66d2 0%, #0660c6 100%);
  background-size: 100%;
  border: none;
  color: white;
  padding: 15px 32px;
  cursor: pointer;
  position: absolute;
  font-size: 2em;
  left: 25%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  color: #000000;
  font-weight: bold;
  border-radius: 20px;
  box-shadow: 5px 5px 5px grey;
}

.what-im-working-on button {
  background-color: #000000;
  background-image: linear-gradient(to top, #0f66d2 0%, #0660c6 100%);
  background-size: 100%;
  border: none;
  color: white;
  padding: 15px 32px;
  cursor: pointer;
  position: absolute;
  font-size: 2em;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  color: #000000;
  font-weight: bold;
  border-radius: 20px;
  box-shadow: 5px 5px 5px grey;
}

.contact button {
  background-color: #000000;
  background-image: linear-gradient(to top, #0f66d2 0%, #0660c6 100%);
  background-size: 100%;
  border: none;
  color: white;
  padding: 15px 32px;
  cursor: pointer;
  position: absolute;
  font-size: 2em;
  left: 75%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  color: #000000;
  font-weight: bold;
  border-radius: 20px;
  box-shadow: 5px 5px 5px grey;
}