h1 {
    text-align: center;
    font-family: "Kumbh Sans", sans-serif;
    font-size: 75px;
    padding-top: 70px;
}

body {
    background-color: #eeeeee;
}



* {
    box-sizing: border-box;
}
  
body {
    font-family: "DM Sans", sans-serif;
    background-color: #eeeeee;
    margin: 0;
    padding: 0;
}
  
header h1 {
    font-family: "Kumbh Sans", sans-serif;
    font-size: 50px;
    background-color: #000000;
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    text-align: center;
    font-weight: bolder;
    padding-top: 10px;
}

.maintext p {
  text-align: center;
  font-size: 35px;
}

.contact button {
    background-color: #000000;
    background-image: linear-gradient(to top, #0f66d2 0%, #0660c6 100%);
    background-size: 100%;
    border: none;
    color: white;
    padding: 15px 32px;
    cursor: pointer;
    position: absolute;
    font-size: 2em;
    left: 75%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    color: #000000;
    font-weight: bold;
    border-radius: 20px;
    box-shadow: 5px 5px 5px grey;
    top: 45px;
}

.home button {
    background-color: #000000;
    background-image: linear-gradient(to top, #0f66d2 0%, #0660c6 100%);
    background-size: 100%;
    border: none;
    color: white;
    padding: 15px 32px;
    cursor: pointer;
    position: absolute;
    font-size: 2em;
    left: 25%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    color: #000000;
    font-weight: bold;
    border-radius: 20px;
    box-shadow: 5px 5px 5px grey;
    top: 45px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

.fpswebsite p {
    text-align: center;
    padding-left: 45px;
    padding-right: 45px;
    font-size: 35px;
}

.fpswebsite p a {
  color: #1DA1F2;
  font-weight: bold;
  text-decoration: none;
}
