* {
    box-sizing: border-box;
}
  
body {
    font-family: "DM Sans", sans-serif;
    background-color: #272727;
    margin: 0;
    padding: 0;
}
  
header h1 {
    font-family: "Kumbh Sans", sans-serif;
    font-size: 6em;
    background-image: linear-gradient(to top, #417dff 0%, #d3371c 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    text-align: center;
    font-weight: bolder;
}

.navbar a:hover{
    background-color: #5b5b5b;
}
.navbar {
    overflow: hidden;
    background-color: #1f1f1f;
    box-shadow: 5px 5px 5px rgb(31, 31, 31);
    border-radius: 20px;
}
  
/* Links inside the navbar */
.navbar a {
    font-size: 24px;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 10px 10px;
    text-decoration: none;
    border-radius: 10px;
    float: left;
}

header h2 {
    text-align: center;
    font-size: 30px;
    color: #5865f2;
}